html {
    scroll-behavior: smooth;
}

body{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

h1,h2,h3,h4,h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}
h1{
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: 1.7px;
    margin-bottom: 0;
    color:#F1CDB3
}

h2{
    font-size: 44px;
    line-height: 57.2px;
    letter-spacing: 6%;
}
h3{
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    color: #545454;
}
p, li{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 400;
   font-size: 15px;
   line-height: 24px;
}

.start-screen{
    margin: 0;
    background: linear-gradient(to top left, #211F20, #5B483A);
}
/*.start-screen::before{
   background-image: url(../../../shelter/assets/png/noise_transparent.png); 
}*/

/*  Header  */
.header{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 22px;
    grid-template-rows: 65px;
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    align-items: baseline;
    justify-content: space-between;
}
.logo{
    width: 200px;
    text-decoration: none;
    color: #F1CDB3;
}
.header-logo{
    font-size: 13px;
    line-height: 14.95px;
    letter-spacing: 1.2px;
    margin-top: 10px;
    margin-left: 5px;
    color: #ffffff;
}
.nav-burger.active{
    position: absolute;
    width: 320px;
    margin-top: -18px;
    display: flex;
    flex-direction: column-reverse;
    background-color: #292929;
    align-items: end;
    height: 100%;
    justify-content: start;
    right: 15%;
    gap: 175px;
    padding-top: 39px;
    transition: all, 1.5s;

}
.nav-burger.hidden{
position: relative;

}

@media screen and (max-width: 380px) {
    .nav-burger.active{
    right: 8%;
    }
}

.navigation{
    min-width: 443px;
    color: #545454;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
.navigation.active{
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 62px;
    align-items: center;
    transition: all, 1s;
}
.navigation.hidden{
    opacity: 0;
    transition: all, 1s;
}

.nav-link{
    text-decoration: none;
    color: #CDCDCD;
}
.nav-link:hover{
    color: #fafafa;
    padding-bottom: 5px;
}
.nav-link-about{
    text-decoration: none;
    color: #FAFAFA;
    border-bottom: 3px #F1CDB3 solid;
    padding-bottom: 5px;
}
.link.active{
    width: 260px;
}
.nav-link.active{
    font-size: 32px; 
}
.nav-link-about.active{
    font-size: 32px;
    padding-left: 8px;
}

@media screen and (max-width: 1199px) {
    .header{
        padding-left: 4%;
        padding-right: 4%;
    }
}
/*   menu-burger    */

.menu-btn{
    cursor: pointer;
    margin-left: 47px;
    z-index: 1;
    opacity: 0;
}
.menu-btn.active{
   margin-left: -22px; 
}
#menu-toggle{
    display: block;
    opacity: 0;
}
.menu-btn span{
    margin-top: 3px;
    transition: all 0.5s;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after{
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #F1CDB3; 
}

.menu-btn span::after{
   content: '';
   top: 20px
}
.menu-btn span::before{
    content: '';
    top: 10px
 }
 span.active{
    rotate: 90deg;
    transition: all, 0.5s;
   
 }

 @media screen and (max-width: 767px){
    .navigation{
        display: none;
    }
    .menu-btn{
        opacity: 100%;
    }
 }
@media screen and (max-width: 680px){
    .header{
        padding-top: 3%;
        padding-left: 6%;
        padding-right: 5%;
    }
    .header-logo{
        letter-spacing: 1.3px;
    }
}
/*  Start screen  */
.not-only{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    margin-top: 75px;
    justify-content: space-between;
}

.not-only-block{
    display: flex;
    flex-direction: column;
    margin-top: 134px;
    color: #ffffff;
}
.not-only-title{
    padding-right: 20%;
}
.not-only-text{
    color: #CDCDCD;
    padding-right: 30px;
    margin-top: 5px;
    margin-bottom: 42px;
}
.not-only-img{
    display: flex;

}
img{
  width: 100%;
}
button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    width: 208px;
    height: 55px;
    border-radius: 30px;
    letter-spacing: 1px;
    background-color: #F1CDB3;
    cursor: pointer;
}
button:hover{
    color: #000;
    transition: all 0.3s;
}
@media screen and (max-width: 1000px) {
    .not-only{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
        
    }
    .not-only-block{
        align-items: center;
        padding-right: 20%;
        margin-top: 0px;
    }
    .not-only-text{
        padding-left: 25%;
        padding-right: 0%;
    }
    .not-only-title{
        padding-left: 25%;
    }
    .not-only-img{
        padding-top: 13%;
        width: 74vw;
        padding-left: 18%;
    }
    .not-only-button{
        margin-left: 37%;
    }
}
@media screen and (max-width: 680px) {
    .not-only{
        margin-top: 10%;
    }
    .not-only-title{
        font-size: 25px;
        line-height: 32.5px;
        padding-left: 10%;
        letter-spacing: 1.5px;
        padding-right: 5%;
        text-align: center;
    }
    .not-only-block{
        padding-right: 4%;
    }
    .not-only-text{
        padding-right: 0%;
        padding-left: 5%;
        margin-top: 7%;
        text-align: center;
    }
    .not-only-button{
        margin-left: 3%;
    }
    .not-only-img{
        padding-top: 32%;
        width: 81vw;
        padding-left: 13%;
    }
}
/*   About    */

.about{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 49% 51%;
    margin-top: 80px;
    margin-bottom: 100px;
    gap: 0.5%;
}

.about-img{
    padding-left: 30%;
    width: auto;
}
.about-text{
    padding-right: 30%;
}
.about-title{
    margin-bottom: 24px;
    margin-top: 15px;
}
.about-paragraf{
    color:#4C4C4C;
}
@media screen and (max-width: 1000px) {
    .about{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 8%;
    }
    .about-text{
        padding-right: 22%;
        padding-left: 22%;
    }
    .about-img{
        width: 39vw;
        padding-left: 0px;
        margin-top: 9%;
    }
}
@media screen and (max-width: 680px) {
    .about{
        margin-top: 9%;
        margin-bottom: 14%;
    }
    h3{
        font-size: 25px;
        line-height: 32.5px;
        letter-spacing: 1.3px;
        text-align: center;
    }
    .about-text{
        padding-right: 8%;
        padding-left: 8%;
    }
    .about-paragraf{
        text-align: justify;
    }
    .about-img{
        width: 80vw;
        margin-top: 8%;
    }
}
/*   Our pets   */

.our-friends{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    padding-top: 45px;
    background-color: #F6F6F6;
    grid-template-rows: 152px 529px 147px;
    text-align: center;
    justify-content: center;
}

.our-friends-slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 53px;
}
.slider-btn.prev,.slider-btn.next{
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    border: #F1CDB3;
    border-style: solid;
    background-color: #F6F6F6;
}
.slider-btn.next{
    color: #D9D9D9;
}
.slider-pets{
    display: flex;
    justify-content: space-between;
    gap: 90px;
    
}
.our-friends-slider-element{
    display: grid;
    grid-template-rows: 275px 83px 82px;
    margin-top: -30px;
    justify-items: center;
    background-color: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;

}
@media screen and (max-width: 1000px) {
    .our-friends-slider-element.last{
        display: none;
    }
    .our-friends-slider{
        padding-left: 2.5%;
        padding-right: 2.5%;
        gap: 10px;
    }
    .slider-pets{
        margin-top: 0;
        gap: 45px;
    }
    .our-friends-slider-img{
        width: 35vw;
        padding-top: 3px;
    } 
    .slider-btn.prev,.slider-btn.next{
       width: 70px;
    }
}
@media screen and (max-width: 680px) {
    .our-friends{
        padding-top: 5%;
        grid-template-rows: 152px 530px 95px;
    }
    .our-friends-slider{
        display: grid;
        grid-template-columns: 25% 35%;
        grid-template-areas:
        "c c"
        "b a";
        padding-left: 9%;
        padding-right: 9%;
        grid-template-rows: 421px 90px;
    }
    .our-friends-slider-element.second{
        display: none;
    }
    .slider-btn.next{
        grid-area: a;
    }
    .slider-btn.prev{
        margin-left: 66%;
        grid-area: b;
    }
    .our-friends-slider-element{
        grid-area: c;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .our-friends-slider-img{
        width: 85vw;
    }
    .slider-btn.prev,.slider-btn.next{
        width: 50px;
     }
}


.our-friends-slider-element:hover{
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    transition: all 0.5s;
    cursor: pointer;
}


.our-friends-slider-element:hover .our-pets-card-btn{
    background-color: #FDDCC4;
    cursor: pointer;
    transition: all 0.5s;
}
.our-pets-card-btn{
    width: 190px;
    border-color: #F1CDB3;
    color: #292929;
    border-style: solid;
    background-color: #FAFAFA;
    height: 52px;
}
h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 100;
}
.our-friends-button{
    width: 262px;
    height: 50px;
    background-color: #F1CDB3;
    color: #292929;
    border-style: none;
    cursor: pointer;
}
.our-friends-button:hover{
    background-color: #FDDCC4;
    transition: all 0.3s;
}
/*   Help   */

.help{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 92px 395px;
    margin-top: 80px;
    text-align: center;
    padding-bottom: 15px;
}

.help-title{
    padding-left: 35%;
    padding-right: 35%;
    margin-top: 5px;
    color: #545454;
}
.help-container-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.help-icon{
    width: auto;
}
.help-item{
    padding-left: 58px;
    padding-right: 58px;
}
.help-item-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.7px;
    margin-top: 25px;
}
@media screen and (max-width: 1000px) {
    .help{
        grid-template-rows: 92px auto;
        padding-bottom: 7px;
    }
    .help-container-items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-left: 6vw;
        margin-right: 6vw;
    }
    .help-item{
        padding-bottom: 5vw;
        padding-left: 0;
        padding-right: 0;
    }
    .help-title{
        margin-top: 5px;
        padding-left: 26%;
        padding-right: 26%;
    }

}
@media screen and (max-width: 680px) {
    .help{
        margin-top: 11%;
    }
    .help-title{
        margin-top: 5px;
        padding-left: 10%;
        padding-right: 10%;
    }
    .help-container-items{
        grid-template-columns: 60% 56%;
        margin-top: 6%;
    }
    .help-icon{
        width: 16vw;
    }
    .help-item-text{
        font-size: 15px;
        line-height: 16.5px;
        margin-top: 14px;
    }
}

/*    In addition   */

.in-addition{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 483px 380px;
    background-color: #F6F6F6;
    margin-top: 33px;
    padding-top: 23px;
    grid-gap: 50px;
    padding-bottom: 87px;
}

.in-addition-img{
    padding-top: 66px;
    width: auto;
}
.in-addition-text{
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 128px 35px 45px;
}
.in-addition-paragraf{
    letter-spacing: 0.85px;
}
.credit-card{
    background-color: #F1CDB3;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 1.2px;
    color: #545454;
    text-align: center;
    width: 350px;
    border-radius: 9px;
}
.credit-card:hover{
    cursor: pointer;
    color: #292929;
}
.card-img{
    width: auto;
    margin-left: -5px;
    margin-right: 16px;
    padding-top: 7px;

}

.italic{
    margin-top: 0px;
    max-width: 363px;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color:#B2B2B2
}
@media screen and (max-width 1199px) {
    .in-addition{
        grid-template-columns: 31.8% 27%;
        grid-gap: 6%;
    }
}
@media screen and (max-width: 1000px) {
    .in-addition{
        display: flex;
        flex-direction: column-reverse;  
        align-items: center;
        padding-left: 19.5vw;
        padding-right: 22vw;
        padding-top: 8%;
    }
    .in-addition-text{
        padding-left: 10%;
        padding-right: 10%;
        grid-template-rows: 90px 34px 44px;
    }
    .in-addition-img{
        padding-top: 0;
        padding-bottom: 1.5vw;
        padding-left: 2.5vw;
    }
    .in-addition.title{
        padding-left: 0%;
        padding-right: 19%;
    }
}
@media screen and (max-width: 680px) {
    .in-addition{
        margin-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 11.5%;
        padding-bottom: 12%;
    }
    .in-addition-text{
        grid-template-rows: 67px 55px 57px auto;
        grid-gap: 2%;
    }
    .in-addition.title{
        padding-left: 0;
        padding-right: 0;
    }
    .in-addition-paragraf{
        font-size: 15px;
        line-height: 160%;
        letter-spacing: 0;
        padding-left: 1%;
    }
    .credit-card{
        width: 280px;
        font-size: 15px;
        line-height: 115%;
        height: 40px;
        letter-spacing: 0.8px;
    }
    .card-img{
        margin-left: -3px;
        padding-top: 5px;
    }
    .italic{
        text-align: justify;
    }
    .in-addition-img{
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 0;
        width: 90%;
    }
}
/*    Footer   */

footer{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 280px 301px 310px;
    grid-gap: 160px;
    padding-left: 10px;
    padding-top: 23px;
    background: linear-gradient(to top left, #211F20, #5B483A); 
}
@media screen and (max-width: 1199px){
    footer{
    grid-template-columns: 22vw 22vw 34vw;
    grid-gap: 9vw;
    padding-left: 13vw;  
    }
}

.footer-title{
    color: #ffffff;
}
.footer-adress{
    display: grid;
    grid-template-columns: 40px 260px;
    color:#F1CDB3
}

.footer-cols{
    display: grid;
    grid-template-rows: 160px 79px;
}
.footer-contacts{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 115%;
    margin-top: 0px;
    letter-spacing: 1.3px;
}
.footer-contacts-mail{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 115%;
    padding-left: 20px;
    margin-top: 5px;
    letter-spacing: 1.3px;
    margin-left: -40px;
    width: 300px;
    margin-top: 0px;
}
.footer-contacts-phone{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 115%;
    padding-left: 20px;
    letter-spacing: 1.3px;
    margin-left: -40px;
    width: 300px;
    margin-top: -10px;
}
.adress-marker{
    display: flex;
    align-items: flex-start;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 1.3px;
    width: 300px;
    text-decoration: none;
    color: #F1CDB3;
}

.footer-puppy-img{
    padding-top: 20px;
    width: auto;
}
.footer-link{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 115%;
    padding-left: 20px;
    margin-top: 5px;
    letter-spacing: 1.3px;
    color:#F1CDB3;
    text-decoration: none;
}
.footer-contacts-img{
    width: auto;
    padding-right: 16px;
}
@media screen and (max-width: 1000px){
    footer{
        justify-items: center;
        grid-template-areas:
        "a b"
        "c c";
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 0;
        grid-template-columns: 1fr;
        column-gap: 5vw;
     }
    .footer-cols.contacts{
        grid-area: a;
    }
    .footer-cols.adresses{
        grid-area: b;
    }
    .footer-puppy-img{
        grid-area: c;
        margin-top: -5vw;
    }
    .footer-cols{
        grid-template-rows: 158px 85px;
        margin-top: -1vw;
    }
   
}
@media screen and (max-width: 680px){
    footer{
        display: flex;
        flex-direction: column;
        padding-top: 4%;
        gap: 0px
    }
    .footer-cols{
        display: flex;
        flex-direction: column;
    }
    .footer-title{
        text-align: center;
    }
    .footer-cols.adresses{
        margin-top: -2.5vw;
    }
    .footer-contacts-img{
        padding-top: 18px;
    }
    .footer-contacts-phone{
        padding-left: 9vw;
    }
    .footer-adress.second{
        margin-left: -21px;
        margin-top: 7px;
    }
    .footer-contacts{
        margin-top: 3.5vw;
    }
    .footer-puppy-img{
        margin-top: 10px;
    }
}